* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
.navButton {
    margin: 12px;
    padding: 12px;
    color: black;
    background-color: rgb(0, 255, 157);
    width: 225px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    border-radius: 15px;
}
.navButton:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 255, 157);
}
.texasLogo{
    width: 148px;
    height: 70px;
    margin: 5px;
    display: flex;
    align-self: center;
}
#initials{
    font-size: 30px;
    align-self: center;
    color:rgb(0, 255, 157);
    letter-spacing: 1px;
}
.App{
    background-color:rgb(84, 88, 126);
}
#body {
    margin-bottom: 77px;
    margin-top: 25px;
    margin-left: 15px;
}
.navbar {
    width: 100%;
    background-color: rgb(36, 32, 32);
    display: flex;
    justify-content: space-around;
}
.celebButton {
    width: 250px;
    height: 250px;
    margin: 8px;
    background-color:rgba(76, 132, 238, 0.981);
    box-shadow: 5px 5px 5px black;
}
.celebButton:hover {
    background-color: rgb(0, 255, 157);
}
#celebImage {
    width: 200px;
    height: 200px;
    margin-top: 8px;
}
.celebName {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
/* individual card */
#celebCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    background-color: rgba(76, 132, 238, 0.981);
}
.celebCardName{
    font-size: 30px;
    letter-spacing: 2px;
    background-color: rgb(0, 255, 157);
    padding: 12px;
    margin-top: 12px;
    box-shadow: 5px 5px 5px;
    text-shadow: 1px 1px 4px white;
    width: 520px;
    text-align: center;
    font-family: Cinzel, serif;
}
.bioImage{
    width: 500px;
    height: 500px;
    margin-top: 12px;
    box-shadow: 5px 5px 5px;
}
.celebOrigin{
    font-size: 16px;
    /* border-bottom: 2px solid black; */
    margin-top: 12px;
    width: 900px;
    box-shadow: 5px 5px 5px black;
    padding: 9px;
    background-color: rgb(173, 250, 195);
}
.celebDescription{
    font-size: 20px;
    margin-top: 12px;
    width: 900px;
    /* border-bottom: 2px solid black; */
    box-shadow: 5px 5px 5px black;
    padding: 9px;
    margin-bottom: 20px;
    background-color: rgb(173, 250, 195);
}
#footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(0, 255, 157);
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 5px 5px 5px black;
    margin: 0px;
    padding: 9px;
    border: 1px solid black;
}
.disclaimer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    text-align: center;
    line-height: 20px;
}
.disOne{
    font-size: 17px;
}
/* welcome page */
.welcomePage{
    margin: 9px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(84, 88, 126);
    font-family: serif;
}
.welcomeHeader{
    /* text-decoration: underline; */
    letter-spacing: 4px;
    font-size: 44px;
    text-shadow: 1px 1px 12px rgb(255, 119, 0);
    border: 1px solid black;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.981);
    width: 100%;
    text-align: center;
    border-radius: 50px;
    font-family: Cinzel, serif;
    color: orange;
    margin: 20px;
}
.welcomeMessage{
    line-height: 35px;
    margin-bottom: 100px;
    margin-top: 30px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 24px;
    background-color: rgb(206, 245, 248);
    box-shadow: 8px 8px 8px grey;
    font-family: serif;

}
#list{
    font-size: 22px;
    display: flex;
    padding: 22px 40px;
    margin: 10px;
    line-height: 38px;
    border: 5px ridge black;
    /* border-radius: 6px; */
    background-color: rgb(250, 213, 173);
    font-family: Cinzel, serif;
    box-shadow: 5px 5px 14px black;
    /* text-shadow: 1px 1px 1px rgb(53, 164, 248); */
}
.bold{
    text-shadow: 3px 3px 10px black;
}
.listOne{
    margin-right: 33px;
}
.listThree{
    margin-left: 33px;
    margin-right: 20px;
}
.listOne,
.listTwo,
.listThree{
    list-style-type: none;
}
.note{
    font-size: 15px;
    color: white;
}
#homeImage {
    width: 100%;
}
.photoOp{
    margin-bottom: 140px;
}
