.navButton {
    margin: 12px;
    padding: 12px;
    color: black;
    background-color: rgb(0, 255, 157);
    width: 225px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    border-radius: 15px;
}
.navButton:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 255, 157);
}
.App{
    background-color:rgb(197, 201, 250);
}
#body {
    margin-bottom: 75px;
    margin-top: 25px;
    margin-left: 15px;
}
.navbar {
    width: 100%;
    background-color: rgb(60, 60, 60);
    display: flex;
    justify-content: space-around;
}
.celebButton {
    width: 250px;
    height: 250px;
    margin: 8px;
    background-color:rgba(101, 130, 184, 0.981);
    box-shadow: 5px 5px 5px black;
}
.celebButton:hover{
    background-color: rgb(0, 255, 157);
}
#celebImage {
    width: 200px;
    height: 200px;
    margin-top: 8px;
}
.celebName {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
/* individual card */
#celebCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    background-color: rgba(101, 130, 184, 0.981);
}
.celebCardName{
    font-size: 30px;
    letter-spacing: 3px;
    background-color: rgb(0, 255, 157);
    padding: 16px;
    margin-top: 12px;
    box-shadow: 5px 5px 5px;
    text-shadow: 3px 3px 3px grey;
    width: 550px;
    text-align: center;
}
.bioImage{
    width: 500px;
    height: 500px;
    margin-top: 12px;
    box-shadow: 5px 5px 5px;
}
.celebOrigin{
    font-size: 16px;
    /* border-bottom: 2px solid black; */
    margin-top: 12px;
    width: 900px;
    box-shadow: 5px 5px 5px black;
    padding: 9px;
    background-color: white;
}
.celebDescription{
    font-size: 20px;
    margin-top: 12px;
    width: 900px;
    /* border-bottom: 2px solid black; */
    box-shadow: 5px 5px 5px black;
    padding: 9px;
    margin-bottom: 200px;
    background-color: white;
}
#footer{
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(0, 255, 157);
    padding: 2px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 5px 5px 5px black;
    margin: 4px;
    border: 1px solid black;
}
/* welcome page */
.welcomePage{
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(197, 201, 250);
    font-family: serif;
}
.welcomeHeader{
    /* text-decoration: underline; */
    letter-spacing: 2px;
    font-size: 40px;
    text-shadow: 1px 1px 1px grey;
    border: 1px solid black;
    padding: 20px;
    background-color:rgb(255, 196, 0);
    width: 900px;
    text-align: center;
    border-radius: 20px;

}
.welcomeMessage{
    line-height: 35px;
    margin-bottom: 100px;
    margin-top: 30px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 24px;
    background-color: rgb(252, 228, 175);
    box-shadow: 10px 10px 10px grey;
    font-family: serif;

}
#list{
    font-size: 24px;
    display: flex;
    padding: 8px;
    line-height: 40px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: rgb(252, 228, 175);
    font-family: serif;
    box-shadow: 10px 10px 10px grey;
}
.listOne{
    margin-right: 35px;
}
.listThree{
    margin-left: 35px;
    margin-right: 20px;
}
.note{
    font-size: 15px;
}
